/*www.sourcecoders.in
Sourcecoders technology
*/



body {
    background-color: #dbe5e9;
    font-family: 'Fira Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.site-content {
    max-width: 1100px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-content__headline {
    font-weight: 200;
    color: #fff;
    font-size: calc(2vw + 10px);
}
.menu-icon {
     height: 30px;
    width: 30px;
    position: fixed; 
    
    z-index: 2;
    left: 50px;
    top: 30px;
    cursor: pointer;
}
.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: rgb(6, 6, 6);
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
     /* margin-left: 1800px; */
    
}
.menu-icon__line-left {
    width: 15px;
    

}
.menu-icon__line-right {
    width: 15px;
    float: right;
    /* margin-right: -1800px; */
}
.nav {
    position: fixed;
    z-index: 1;
}
.nav:before, .nav:after {
    content: " "
   ;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, .2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}
.nav:after {
    background: rgba(255, 255, 255, 1);
    transition-delay: 0s;
}
.nav:before {
    transition-delay: 0.1s;
}
.nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
}
.nav__list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
    margin-right: 25px;
}
.nav__list-item:before {
    content: "
   "
   ;
    position: absolute;
    background: #000;
    width: 20px;
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
}
.nav__list-item:hover:before {
    width: 100%;
}
body.nav-active .menu-icon__line {
    background-color: #000;
    transform: translateX(0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
    transform: translateX(1px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
    visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
    transition-delay: 0.1s;
}
body.nav-active .nav:before {
    transition-delay: 0s;
}
body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
}
body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
}
body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
}


/*
  Icons on Nav expand
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}



.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}


